$background-color: #14110f;
$title-text-color: #f3f3f4;
$hover-text-color: #d9c5b2;
$background-project-color: #161310;
$yellowish: #fabc3c;
$github: #4078c0;
$linkedin: #00a0dc;
$vue: #42b883;
$sass: #CD6799;
$javascript: #f7df1e;
$node: #3c873a;
$html: #e34f26;
$css: #2965f1;