@import "../variables/colors";

main {
  text-align: center;
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
  @media(max-width: 475px){
    padding: .6rem
  }
}

.btn-container{ 
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

// .github,
// .sass,
// .branch,
// .html,
// .javascript,
// .css,
// .vue {
//   font-size: 2rem;
// }

// .github {
//   color: $github;
// }

// .html {
//   color: $html;
// }

// .javascript {
//   color: $javascript;
// }

// .vue {
//   color: $vue;
// }

// .css {
//   color: $css;
// }

// .branch {
//   color: $html;
// }

// .sass {
//   color: $sass;
// }
