@import "../variables/colors";

* {
  background-color: transparent;
}

#personal-info {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media (max-width: 425px) {
    flex-direction: column;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
  }

  .socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    @media (max-width: 425px) {
      justify-content: center;
    }
  }
}

.github,
.linkedin {
  transition: 0.5s ease;
}

.fa-github {
  color: $github;
}

.github:hover {
  color: $github;
}

.linkedin:hover {
  color: $linkedin;
}

.fa-linkedin {
  color: $linkedin;
}

.profile-file {
  object-fit: cover;
  img {
    width: 10rem;
    border-radius: 50%;
  }
}

.hover {
  transition: 0.5s ease;
  cursor: pointer;
  &:hover {
    color: $yellowish;
  }
}

/*divider*/

#divider {
  margin: 5rem auto 0 auto;
  text-align: center;
  padding-bottom: 0.5rem;
  max-width: 150px;
  h1 {
    border-bottom: 8px solid $title-text-color;
    border-radius: 2.5px;
  }
}

/*divider*/

/*Projects section*/

#projects {
  margin-top: 5rem;
}

.project {
  width: 100%;
  background-color: $background-project-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  img {
    width: 100%;
  }
}

.project + .project {
  margin-top: 4rem;
}

.project-info {
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  h1 {
    margin-bottom: 1rem;
  }
}

.project-info-hover {
  transition: 0.5s ease;
  cursor: pointer;
  &:hover {
    color: $yellowish;
  }
}

.stack {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: .7rem;
  justify-content: center;
  align-items: center;
}

.vue,
.sass,
.html,
.js,
.css,
.ts,
.tlw{
  padding-inline: 1rem;
  padding-block: 0.3rem;
  border-radius: 6px;
  font-size: 2rem;
}

.vue {
  color: $vue;
}

.js {
  color: $javascript;
}

.sass {
  color: $sass;
}

.html {
  color: $html;
}

.css {
  color: $css;
}

.typescript {
  width: 24px;
  height: 22px;
  margin-top: 0.2rem;
}

.tailwind {
  width: 24px;
  height: 22px;
  margin-top: 0.2rem;
}

.code-demo {
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin-top: 1rem;
  padding: 0.4rem;

  button + button i {
    color: $yellowish;
  }
}

h3 {
  text-align: center;
  margin-top: 3rem;
}

.githubStack,
.sassStack,
.branchStack,
.htmlStack,
.javascriptStack,
.cssStack,
.vueStack,
.nodeStack {
  font-size: 1.5rem;
}

.pinia {
  width: 24px;
}

.githubStack {
  color: $github;
}

.htmlStack {
  color: $html;
}

.javascriptStack {
  color: $javascript;
}

.vueStack {
  color: $vue;
}

.cssStack {
  color: $css;
}

.branchStack {
  color: $html;
}

.sassStack {
  color: $sass;
}

.nodeStack {
  color: $node;
}

.myStack {
  margin-top: 1rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (max-width: 425px) {
    justify-content: center;
  }
}
